<?xml version="1.0" ?>

<options>
  <option key="test" value="true"/>
  <option key="explanation" value="Simple Example Select Variables"/>
  <option key="file" value="main.c"/>
  <option key="debug_passes" value="-loop_latch_info -insert_select_variables"/>
  <option key="c_standard" value="C"/>
  <option key="globals_always_free" value="true"/>
  <option key="output" value="mem_8"/> 
  <option key="max_depth" value="10"/> 
  <option key="generate_model" value="true"/> 
</options>
